<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'dscript/css/show_step.css' %}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ step.script }}</title>
</head>
<body>

<div class="pop_up" id="1">
    <div class="pop_up_container">
        <div class="button pop_up_close" data-close="1">&#10006</div>
        <div class="name_form">Добавить этап или отработку возражения</div>
        <form class="form_create_stage" method="post">
            {% csrf_token %}
            <div class="stage_name_">Наименование</div>
            <input class="stage_name_for_create" name="stage_name_for_create" type="text">
            <div class="stage_text_">Текст</div>
            <textarea class="stage_text_for_create" name="stage_text_for_create"></textarea>
            <input hidden name="step_id" value="{{ step.id }}" type="text">
            <button class="button form_create">Сохранить</button>
        </form>
    </div>
</div>

<div class="pop_up" id="2">
    <div class="pop_up_container">
        <div class="button pop_up_close" data-close="2">&#10006</div>
        <div class="name_form">Добавить ответ или возражение клиента</div>
        <form class="form_create_answer" method="post">
            {% csrf_token %}
            <input hidden name="stage_id" value="{{ stage.id }}" type="text">
            <div class="answer_name_">Наименование</div>
            <input name="answer_name" class="answer_text_" type="text">
            <div class="answer_for_stage_">Ведёт к шагу / отработке</div>
            <select name="answer_text" class="answer_select_text_">
                {% for stage in stages %}
                <option value="/dscript/show_step/?step_id={{ step.id }}&stage_id={{ stage.id }}">{{ stage.name }}</option>
                {% endfor %}
            </select>
            <button class="button form_create">Сохранить</button>
        </form>
    </div>
</div>

<div class="pop_up" id="3">
    <div class="pop_up_container">
        <div class="button pop_up_close" data-close="3">&#10006</div>
        <div class="name_form">Удалить ответ или возражение клиента</div>
        <form class="form_create_answer" method="post">
            {% csrf_token %}
            <div class="answer_name_">Ответ / Возражение</div>
            <select name="answer_for_delete" class="answer_for_delete">
                {% for answer in answers_for_stage %}
                <option value="{{ answer.id }}">{{ answer.name }}</option>
                {% endfor %}
            </select>
            <button class="button form_create">Удалить</button>
        </form>
    </div>
</div>

<div class="pop_up" id="4">
    <div class="pop_up_container">
        <div class="button pop_up_close" data-close="4">&#10006</div>
        <div class="name_form">Удалить этап скрипта или отработку возражения</div>
        <form class="form_create_answer" method="post">
            {% csrf_token %}
            <div class="answer_name_">Этап / Отработка</div>
            <select name="stage_for_delete" class="answer_for_delete">
                {% for stage in stages %}
                <option value="{{ stage.id }}">{{ stage.name }}</option>
                {% endfor %}
            </select>
            <button class="button form_create">Удалить</button>
        </form>
    </div>
</div>

<div class="headers_menu">
    <div class="menu_h">
        <div class="step">
            {{ step }}
        </div>
        <a class="step_script button" href="/dscript/show_script/?script_id={{ script_id }}">В {{ step.script }}</a>
        <a class="all_script button" href="/dscript/create_script/">В разделы</a>
    </div>
</div>

<div class="right_menu">
    {% for stage in stages %}
        <a class="stage_in_menu button" href="/dscript/show_step/?step_id={{ step.id }}&stage_id={{ stage.id }}">{{ stage.name }}</a>
    {% endfor %}
</div>

{% if user.admin %}
    <form method="post">
        {% csrf_token %}
        {% if stage.id %}
        <input hidden value="{{ stage.id }}" name="stage_id_for_edit" type="text">
        {% endif %}
        <input hidden name="step_id" value="{{ step.id }}" type="text">
        <input name="stage_name" class="stage_name" type="text" value="{{ stage.name }}">
        <textarea name="stage_text" class="stage_text">{{ stage.text }}</textarea>
        <button class="button form_edit">Сохранить изменения</button>
    </form>
{% else %}
    <div class="stage_name">
        {{ stage.name }}
    </div>
    <div class="stage_text">
        {{ stage.text }}
    </div>
{% endif %}

<!--<div class="name_client">-->
<!--    Имя клиента <input id="name_client" class="name_client_for_input" type="text">-->
<!--</div>-->

<div class="answer_for_stage">
    <div class="answer_for_stage_1">
        {% for answer in answers_for_stage %}
            <a class="answer button" href="{{ answer.text }}">{{ answer }}</a>
        {% endfor %}
    </div>
    {% if user.admin %}
    <div class="form_add_answer">
        <div class="edit_answer button" data-path="2">Добавить ответ / возражение</div>
        <div class="edit_answer button" data-path="1">Добавить этап / отработку</div>
        <div class="edit_answer button" data-path="3">Удалить ответ / возражение</div>
        <div class="edit_answer button" data-path="4">Удалить этап / отработку</div>
    </div>
    {% endif %}
</div>

<script>
    const openPopUp = document.querySelectorAll('.button');
    const closePopUp = document.querySelectorAll('.pop_up_close');
    const popUp = document.querySelectorAll('.pop_up');

    openPopUp.forEach((el) => {
        el.addEventListener("click", (e) => {
            let path = e.currentTarget.getAttribute('data-path');

            popUp.forEach((el) => {
                el.classList.remove('active');
            })

            document.getElementById(path).classList.add('active');
        });
    });

    closePopUp.forEach((el) => {
        el.addEventListener("click", (e) => {
            let path = e.currentTarget.getAttribute('data-close');
            document.getElementById(path).classList.remove('active');
        });
    });
</script>
<script>

</script>

</body>
</html>