{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'prolongations/css/statistic.css' %}">

{% include "prolongations/statistic_prolong.html" %}

<table class="table_2">
    <tr>
        <th>Тип полиса</th>
        <th>БСО</th>
        <th>Компания</th>
        <th>Дата окончания</th>
        <th>Клиент</th>
        <th>Статус</th>
    </tr>
    {% for policy in policy_base %}
    <tr>
        <td>{{ policy.type }}</td>
        <td>{{ policy.bso }}</td>
        <td>{{ policy.company }}</td>
        <td>{{ policy.date_end|slice:":10" }}</td>
        <td>{{ policy.client }}</td>
        <td>{{ policy.status }}</td>
    </tr>
    {% endfor %}
</table>

<br>---<br>

{% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}" class="button">Назад</a>
{% endif %}

{% for p in paginator.page_range %}
    {% if p != page.number %}
        <a href="?page={{ p }}" class="button">{{ p }}</a>
    {% else %}
        <b class="button check">{{ p }}</b>
    {% endif %}
{% endfor %}

{% if page.has_next %}
    <a href="?page={{ page.next_page_number }}" class="button">Далее</a>
{% endif %}

{% endblock %}
{% block title %}
    InsFamily - Статистика
{% endblock %}