.headers_menu {
    width: 100%;
    height: 1.1vw;
}

.step_script, .step, .all_script {
    font-size: 0.9vw;
    background: #FFFFFF;
    border: 1px solid #ffaf0f;
    border-radius: 10px;
    width: 32%;
    height: 100%;
    float: left;
    text-align: center;
    margin-left: 1%;
}

a {
    text-decoration: none;
    color: #000;
}

.menu_h {
    width: 52%;
    height: 100%;
    margin-left: 20%;
}

.button:hover {
    font-size: 0.95vw;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    color: #000;
}

.right_menu {
    height: 80vh;
    width: 14%;
    float: right;
    margin-right: 1%;
}

.stage_in_menu {
    background: #FFFFFF;
    font-size: 0.9vw;
    height: 20px;
    width: 100%;
    border: 1px solid #ffaf0f;
    border-radius: 10px;
    padding: 5px;
    margin-top: 1%;
    display: block;
}

.stage_name, .stage_text {
    background: #FFFFFF;
    border: 1px solid #ffaf0f;
    border-radius: 5px;
    padding: 5px;
}

.stage_name {
    font-size: 1vw;
    width: 25%;
    margin-left: 2%;
    margin-top: 2%;
}

.stage_text {
    font-size: 1vw;
    width: 80%;
    height: 40vh;
    margin-left: 2%;
    margin-top: 1%;
}

.answer_for_stage {
    width: 80%;
    margin-left: 2%;
    margin-top: 1%;
    height: 25vh;
}

body {
    background: #f0efed;
}

.answer {
    width: 15%;
    height: 1.1vw;
    background: #FFFFFF;
    text-align: center;
    border: 1px solid #ffaf0f;
    padding: 4px 8px;
    border-radius: 8px;
    float: left;
    margin-right: 1%;
    font-size: 0.90vw;
}

.answer_for_stage {
    float: left;
}

.form_add_answer {
    float: right;
    width: 19%;
    height: 100%;
}

.answer_for_stage_1 {
    height: 100%;
    width: 80%;
    float: left;
}

.edit_answer {
    border: 1px solid #ffaf0f;
    background: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    margin-left: 0.5%;
    height: 5vh;
    text-align: center;
    font-size: 0.9vw;
    margin-top: 1%;
}

.form_edit {
    width: 15%;
    height: 30px;
    border: 1px solid #ffaf0f;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 0.9vw;
    float: right;
    margin-right: 3%;
}

.pop_up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.7);
    display: none;
    z-index: 2;
}

.pop_up.active {
    display: block;
}

.pop_up_container {
    border-radius: 15px;
    padding: 10px;
    width: 50%;
    height: 50%;
    border: 1px solid #ffaf0f;
    background-color: #f0efed;
    margin-left: 25%;
    margin-top: 10%;
}

.pop_up_close {
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    padding: 5px 15px;
    background-color: #FFFFFF;
    border: 1px solid #ffaf0f;
    border-radius: 5px;
}

.form_create_stage, .form_create_answer {
    border: 1px solid #000;

    position: relative;
    font-size: 0.9vw;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 2.5%;
}

.name_form {
    font-size: 0.9vw;
    text-align: center;
    padding: 5px;
}

.stage_name_, .stage_text_, .answer_name_, .answer_for_stage_ {
    position: absolute;
    left: 0;
    float: left;
    width: 25%;
    margin-right: 2%;
    margin-top: 2%;
}

.stage_text_for_create, .stage_name_for_create {
    border: 1px solid #ffaf0f;
    background: #FFFFFF;
    border-radius: 5px;
    display: block;
    margin-top: 2%;
}

.stage_text_for_create {
    position: absolute;
    right: 0;
    top: 10%;
    width: 70%;
    height: 60%;
}

.stage_name_for_create {
    position: absolute;
    right: 0;
    width: 70%;
    height: 5%;
}

.form_create {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5vh;
    border: 1px solid #ffaf0f;
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 2%;
    width: 7vw;
    height: 4vh;
}

.form_create:hover {
    font-size: 1.7vh;
}

.answer_text_, .answer_select_text_ {
    border: 1px solid #ffaf0f;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 4px;
    position: absolute;
    right: 0;
    margin-top: 2%;
    width: 70%;
}

.stage_text_, .answer_for_stage_, .answer_select_text_ {
    top: 10%;
}

.answer_select_text_, .answer_text_ {
    left: 30%;
    width: 50%;
}

.type_answer_text_ {
    position: absolute;
    top: 25%;
}

.type_answer {
    position: absolute;
    left: 30%;
    top: 25%;
}

.answer_for_delete {
    position: absolute;
    top: 3%;
    left: 30%;
    width: 50%;
    height: 8%;
    border: 1px solid #ffaf0f;
    background: #FFFFFF;
    border-radius: 5px;
}
