.red {
    background: #FF0000;
}

.orange {
    background: #FFA500;
}

.table_2 {
    width: 80%;
    margin-right: 20px;
    margin-top: 1%;
    margin-left: 10px;
    font-size: calc(8px + (15 - 8) * ((100vw - 320px) / (1900 - 320)));
}

.table_2 tr {
    font-size: 12px;
    border-bottom: 1px solid #6678b1;
}

.table_2 th {
  font-weight: normal;
  font-size: 12px;
  border-bottom: 2px solid #6678b1;
  border-top: 2px solid #6678b1;
  border-left: 1px solid #B0C4DE;
  border-right: 1px solid #B0C4DE;
  padding: 3px 3px;
}

.table_2 td {
    width: calc(50px + (150 - 50) * ((100vw - 320px) / (1900 - 320)));
}

.pop_up {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(80, 80, 80, 0.7);
    display: none;
    z-index: 2;
}

.pop_up.active {
    display: block;
}

.pop_up_container {
    background-color: #FFFFFF;
    position: relative;
    font-size: 14px;
    border-radius: 10px;
    width: 20%;
    height: 50%;
    margin-left: 40%;
    margin-top: 10%;
}

.pop_up_body {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    padding: 1%;
}

.pop_up_body input:focus {
    outline: none;
}

.pop_up_body button {
    cursor: pointer;
    margin: 15px;
}

.pop_up_close {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

a {
    text-decoration: none;
        color: #000; /* Цвет текста */
}

.button, .pagi-button, .add_button, .but, .errors-button {
    border: 1px solid #333; /* Рамка */
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px; /* Поля */
    color: #000; /* Цвет текста */
  }
.button:hover, .pagi-button:hover, .add_button:hover, .but:hover, .errors-button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #000; /* Цвет текста */
}

.upload, .add_agent, .issuance_bso, .unload {
    padding: 20px;
}

.check {
    background: #959595;
}

.unload input, .unload select, .upload select, .issuance_bso input, .issuance_bso select {
    width: 100%;
}

.line {
    border: 1px solid #000;
    width: 80%;
    margin-left: 10%;
}

.tr:hover {
    cursor: pointer;
}

.history_date {
    width: 25%;
    float: left;
    border-bottom: 1px solid #000;
}

.history_name {
    width: 70%;
    float: left;
    margin-left: 2%;
    border-bottom: 1px solid #000;
}

.bso_in_agents {
    width: 60%;
    height: 80%;
    margin: auto;
    margin-top: 5%;
}

.add_button {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.checkbox, .all_checkbox {
    width: 15px;
    height: 15px;
}

.th_checkbox, .td_checkbox{
    width: 5%;
}

.uploads {
    height: 150px;
    margin: auto;
    margin-top: 10%;
}

.add_agents, .created_status {
    height: 200px;
    width: 35%;
    max-width: 450px;
    margin: auto;
    margin-top: 10%;
}

.unloads {
    height: 250px;
    margin: auto;
    margin-top: 10%;
}

.uploads_bso {
    margin: auto;
    margin-top: 10%;
    height: 400px;
    width: 25%;
    min-width: 450px;
}

.top_table {
    float: left;
    width: 85%;
    margin-bottom: 0.5%;
}

.top_table form {
    float: left;
}

.top_table select, .top_table input {
    float: left;
    height: 30px;
}

.step_upload {
    width: 40%;
    height: 500px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
}

.name_for_output {
    margin-top: 1%;
    text-align: right;
    margin-right: 5%;
    float: left;
    width: 45%;
}

.name_for_upload {
    margin-top: 1%;
    float: left;
    width: 45%;
}

.but {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.th {
    border-bottom: 1px solid #000;
}

.history {
    width: 20%;
    min-width: 500px;
    margin: auto;
    margin-top: 10%;
}

.pop_up_body {
    width: 85%;
}

.errors_unload {
    width: 15%;
    min-width: 250px;
    height: 150px;
    margin: auto;
    margin-top: 10%;
    padding: 1%;
}

.errors_name, .errors_value {
    float: left;
    width: 50%;
}

.errors-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button {
    cursor: pointer;
}

.change_status_from_file {
    height: 200px;
    margin: auto;
    margin-top: 10%;
}

.status_for_change {
    margin-bottom: 1%;
}

.status_for_change_file {
    margin-top: 5%;
}

.status_for_change_button, .create_status_button, .add_new_bso_button {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.name_change {
    width: 30%;
    float: left;
}

.select_name_change {
    width: 70%;
}

.status_for_change_form {
    border-radius: 5px;
    padding: 15px;
    position: relative;
    border-top: 1px solid #000;
    width: 100%;
    height: 20%;
    background-color: #FFFFFF;
}
