{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'agents/css/issuance_bso.css' %}">

<!--Выдача БСО агенту-->
<div class="pop_up" id="bso_in_agents">
    <div class="pop_up_container bso_in_agents">
        <div class="pop_up_body">
            <form class="issuance_bso" method="post">
            {% csrf_token %}
                <input hidden type="number" id="page_2" value="{{ page_2.number }}">
                <input hidden type="text" name="bso_in_agents">
                <table class="table_2">
                    <tr>
                        <td>Агент:</td>
                        <td>
                            <select name="agent" id="">
                            {% for agent in agents %}
                            <option value="{{ agent.id }}">{{ agent }}</option>
                            {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th id="th_checkbox" class="th_checkbox">
                            <input class="all_checkbox" type="checkbox">
                        </th>
                        <th>Компания</th>
                        <th>Серия</th>
                        <th>Номер</th>
                        <th>Дата получения от СК</th>
                    </tr>
                    {% for bso in bso_for_agents %}
                    <tr>
                        <td class="td_checkbox">
                            <input id="td_checkbox" value="{{ bso.id }}" name="check_bso_{{ bso.id }}" class="checkbox" type="checkbox">
                        </td>
                        <td>{{ bso.company }}</td>
                        <td>{{ bso.series }}</td>
                        <td>{{ bso.number }}</td>
                        <td>{{ bso.date_add }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <button class="add_button">Выдать</button>
                    </tr>
                </table>
            </form>
            <br>---<br>
            {% if page_2.has_previous %}
                <a href="{{ link }}page_2={{ page_2.previous_page_number }}" class="pagi-button">Назад</a>
            {% endif %}

            {% for p in paginator_2.page_range %}
            {% if page_2.number|add:'-3' < p and page_2.number|add:'3' > p %}
                {% if p != page_2.number %}
                    <a href="{{ link }}page_2={{ p }}" class="pagi-button">{{ p }}</a>
                {% else %}
                    <b class="pagi-button check">{{ p }}</b>
                {% endif %}
            {% endif %}
            {% endfor %}

            {% if page_2.has_next %}
                <a href="{{ link }}page_2={{ page_2.next_page_number }}" class="pagi-button">Далее</a>
            {% endif %}
            <div class="pop_up_close" data-close="bso_in_agents">&#10006</div>
        </div>
    </div>
</div>

<!--Загрузка БСО-->
<div class="pop_up" id="add_new_bso">
    <div class="pop_up_container uploads_bso">
        <div class="pop_up_body">
            <form class="issuance_bso" method="post">
            {% csrf_token %}
                <input hidden type="text" name="add_new_bso">
                <table>
                    <tr>
                        <td>Компания:</td>
                        <td>
                            <select name="company">
                            {% for company in company %}
                            <option value="{{ company.id }}">{{ company }}</option>
                            {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Серия:</td>
                        <td>
                            <input type="text" name="series">
                        </td>
                    </tr>
                    <tr>
                        <td>Номер:</td>
                        <td>
                            <input type="text" name="number">
                        </td>
                    </tr>
                    <tr>
                        <td>Диапазон:</td>
                        <td>
                            <input type="number" value="1" name="range">
                        </td>
                    </tr>
                    <tr>
                        <td>Дата получения от СК: </td>
                        <td>
                            <input type="date" name="date_add" value="{{ date_now }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="button">Добавить</button>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="line"></div>
            <form class="issuance_bso" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden type="text" name="add_new_bso_from_file">
                <input type="file" name="file" id="id_file">
                <button class="button">Загрузить</button>
            </form>
            <div class="pop_up_close" data-close="add_new_bso">&#10006</div>
        </div>
    </div>
</div>

<!--Создание статуса БСО-->
<div class="pop_up" id="add_status_bso">
    <div class="pop_up_container created_status">
        <div class="pop_up_body">
            <form class="issuance_bso" method="post">
            {% csrf_token %}
                <input hidden type="text" name="add_status_bso">
                <table>
                    <tr>
                        <td>Текущие статусы:</td>
                        <td>
                            <select>
                            {% for status in status_bso %}
                            <option>{{ status }}</option>
                            {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Наименование:</td>
                        <td>
                            <input type="text" name="status_name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="button">Создать</button>
                        </td>
                    </tr>
                </table>
            </form>
            <div class="pop_up_close" data-close="add_status_bso">&#10006</div>
        </div>
    </div>
</div>

<!--Верхняя таблица-->
<table class="top_table">
    <tr>
        <td>
            <div class="button" data-path="bso_in_agents">
            <a href="#">Выдать БСО</a>
            </div>
            <div class="button" data-path="add_new_bso">
            <a href="#">Добавить БСО на склад</a>
            </div>
            <div class="button" data-path="add_status_bso">
            <a href="#">Создать статус БСО</a>
            </div>
            {{ text_bso }}
            {% if text_errors_bso != 0 %}
                {{ text_errors_bso }}
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <form action="" method="get">
                <select name="agent">
                    <option value="all">Все</option>
                    {% for agent in agents %}
                    {% if selected.agent == agent.id %}
                    <option value="{{ agent.id }}" selected>{{ agent }}</option>
                    {% else %}
                    <option value="{{ agent.id }}">{{ agent }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <select name="shelf_life">
                    <option value="all">Любой срок</option>
                </select>
                <select name="status_bso">
                    <option value="all">Все</option>
                    {% for status in status_bso %}
                    {% if selected.status_bso == status.id %}
                    <option value="{{ status.id }}" selected>{{ status.name }}</option>
                    {% else %}
                    <option value="{{ status.id }}">{{ status.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            <button class="button">Просмотр</button>
            </form>
            <form action="" method="get">
            <input type="text" name="search">
            <button class="button">Найти</button>
            {{ text_search }}
            </form>
        </td>
    </tr>
</table>

<!--Таблица вывода результата-->
<table class="table_2">
    <tr>
        <th>Компания</th>
        <th>Серия</th>
        <th>Номер</th>
        <th>Дата получения от СК</th>
        <th>Статус</th>
        <th>Дата изменения статуса</th>
        <th>Агент</th>
    </tr>
    {% for bso in bso_list %}
    <!--pop-up История БСО-->
    <div class="pop_up" id="{{ bso.id }}">
        <div class="pop_up_container history">
            <div class="pop_up_body">
                {% for history in bso.history %}
                <div class="history_date">{{ history.date_at }}:</div>
                <div class="history_name">{{ history.status }}</div>
                {% endfor %}
                <div class="pop_up_close" data-close="{{ bso.id }}">&#10006</div>
            </div>
        </div>
    </div>
    <!--Основная таблица-->
    <tr class="tr" data-path="{{ bso.id }}">
        <td>{{ bso.company }}</td>
        <td>{{ bso.series }}</td>
        <td>{{ bso.number }}</td>
        <td>{{ bso.date_add }}</td>
        <td>{{ bso.history_status }}</td>
        <td>{{ bso.history_date_at }}</td>
        {% if bso.agent is None %}
        <td>---</td>
        {% else %}
        <td>{{ bso.agent }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<!--Пагинация-->
<br>---<br>
{% if page.has_previous %}
    <a href="{{ link }}page={{ page.previous_page_number }}" class="button">Назад</a>
{% endif %}

{% for p in paginator.page_range %}
{% if page.number|add:'-3' < p and page.number|add:'3' > p %}
    {% if p != page.number %}
        <a href="{{ link }}page={{ p }}" class="button">{{ p }}</a>
    {% else %}
        <b class="button check">{{ p }}</b>
    {% endif %}
{% endif %}
{% endfor %}

{% if page.has_next %}
    <a href="{{ link }}page={{ page.next_page_number }}" class="button">Далее</a>
{% endif %}

<!--Скрипт для pop-up-->
<script>
    const openPopUp = document.querySelectorAll('.button');
    const openPopUpTr = document.querySelectorAll('.tr');
    const closePopUp = document.querySelectorAll('.pop_up_close');
    const popUp = document.querySelectorAll('.pop_up');

    openPopUp.forEach((el) => {
        el.addEventListener("click", (e) => {
            let path = e.currentTarget.getAttribute('data-path');

            popUp.forEach((el) => {
                el.classList.remove('active');
            })

            document.getElementById(path).classList.add('active');
        });
    });

    closePopUp.forEach((el) => {
        el.addEventListener("click", (e) => {
            let path = e.currentTarget.getAttribute('data-close');
            document.getElementById(path).classList.remove('active');
        });
    });

    openPopUpTr.forEach((el) => {
        el.addEventListener("click", (e) => {
            let path = e.currentTarget.getAttribute('data-path');

            popUp.forEach((el) => {
                el.classList.remove('active');
            })

            document.getElementById(path).classList.add('active');
        });
    });

    closePopUpTr.forEach((el) => {
        el.addEventListener("click", (e) => {
            let path = e.currentTarget.getAttribute('data-close');
            document.getElementById(path).classList.remove('active');
        });
    });
</script>

<!--Скрипт сохранения активности окна выдачи БСО агенту-->
<script>
    if (document.getElementById('page_2').value > 1) {
        document.getElementById('bso_in_agents').classList.add('active');
    }
</script>

<!--Скрипт проставления всех чек-боксов одник кликом-->
<script>
    var Check = document.querySelectorAll('#td_checkbox');

    document.getElementById("th_checkbox").addEventListener("click", (e) => {
        if (document.getElementById("th_checkbox").checked == true) {
            checked = false
        } else {
            checked = true
        }
        document.getElementById("th_checkbox").checked = checked;
        Check.forEach((el1) => {
            el1.checked = checked;
        });
    });
</script>

{% endblock %}
{% block title %}
    InsFamily - Склад БСО
{% endblock %}