{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'agents/css/issuance_bso.css' %}">

<!--Загрузка продаж из файла 1 этап-->
<div class="pop_up" id="1">
    <div class="pop_up_container uploads">
        <div class="pop_up_body">
            <form class="upload" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <input hidden type="text" name="upload" value="upload">
                <table class="upload">
                    <tr>
                        <td>
                            <input type="file" class="file" name="file" id="id_file">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="button save" type="submit" value="Загрузить">
                        </td>
                    </tr>
                </table>
            </form>
            <div class="pop_up_close" data-close="1" id="pop_up_close">&#10006</div>
        </div>
    </div>
</div>

<!--Загрузка продаж из файла 2 этап-->
<div id="step_upload_pop_up" class="pop_up">
    <div class="pop_up_container step_upload">
        <div class="pop_up_close"></div>
        <form method="post">
        {% csrf_token %}
            <input hidden id="step_upload" name="step_upload" type="number" value="{{ step_upload }}">
            <div class="agent">
            Агент:
            <select name="agent">
                {% for agent in agents %}
                <option value="{{ agent.id }}">{{ agent }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="name_for_output th">Поле в базе данных</div>
            <div class="name_for_upload th">Поле в файле</div>
            {% for name_for_output, name_for_upload in headers_for_upload.items %}
            <div class="name_for_output">{{ name_for_output }}:</div>
            <div class="name_for_upload">
                <select name="{{ name_for_upload }}">
                    {% for col, val in headers.items %}
                    <option value="{{ col }}">{{ val }}</option>
                    {% endfor %}
                </select>
            </div>
            {% endfor %}
            <button class="but">Загрузить</button>
        </form>
    </div>
</div>

<!--Ошибки при загрузке-->
<div id="errors_unload_pop_up" class="pop_up">
    <div class="pop_up_container errors_unload">
        <form action="/agents/unload_errors/" method="post">
        {% csrf_token %}
            <input hidden id="errors_unload" name="errors_unload" type="number" value="{{ errors_unload }}">
            <div class="errors_name">Загруженно:</div>
            <div class="errors_value">{{ number }}</div>
            <div class="errors_name">Не загруженно:</div>
            <div class="errors_value">{{ errors_count }}</div>
            <button class="errors-button">Выгрузить</button>
        </form>
        <div class="pop_up_close" data-close="errors_unload_pop_up">&#10006</div>
    </div>
</div>

<!--Создание агента-->
<div class="pop_up" id="2">
        <div class="pop_up_container add_agents">
            <div class="pop_up_body">
                <form class="add_agent" method="post">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>Наименование агента: </td>
                            <td><input type="text" name="name"></td>
                        </tr>
                        <tr>
                            <td>Дней хранения бланков: </td>
                            <td><input type="number" name="storage_time"></td>
                        </tr>
                    </table>
                    <button class="button">Сохранить</button>
                </form>
                <div class="pop_up_close" data-close="2">&#10006</div>
            </div>
        </div>
    </div>

<!--Выгрузка полисов в файл-->
<div class="pop_up" id="3">
    <div class="pop_up_container unloads">
        <div class="pop_up_body">
            <form class="unload" action="/agents/unload_receivable/" method="post">
                {% csrf_token %}
                <table>
                <tr>
                    <td>Оформлен с: </td>
                    <td><input type="date" name="date_start" value="{{ date_start }}"></td>
                </tr>
                <tr>
                    <td>Оформлен по: </td>
                    <td><input type="date" name="date_end" value="{{ date_end }}"></td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td>
                        <select name="status">
                            <option value="all">Все</option>
                            <option value="receivable">Дебиторка</option>
                            <option value="reconciliation">Сверки</option>
                            <option value="accept">Акцепт</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Агент</td>
                    <td>
                        <select name="agent">
                            <option value="all">Все</option>
                            {% for agent in agents %}
                            <option value="{{ agent.id }}">{{ agent }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Тип полиса</td>
                    <td>
                        <select name="type">
                            <option value="all">Все</option>
                            {% for type in type %}
                            <option value="{{ type.id }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
                <button class="button">Выгрузить</button>
            </form>
            <div class="pop_up_close" data-close="3">&#10006</div>
        </div>
    </div>
</div>

<!--Верхняя таблица-->
<table class="top_table">
    <!--Строка pop-up и поиск-->
    <tr>
        <td>
            <div class="button" data-path="1">Загрузить продажи</div>
            <div class="button" data-path="3">Выгрузить продажи</div>
            <div class="button" data-path="2">Добавить агента</div>
            <form method="get">
                <input name="search" type="text">
                <button class="button">Поиск</button>
            </form>
        </td>
    </tr>
    <!--Фильтр-->
    <tr>
        <td>
            <form method="get">
                    <select name="status">
                    <option value="all">Все</option>
                    {% for status in status %}
                    {% if selected.status == status.id %}
                    <option value="{{ status.id }}" selected>{{ status.name }}</option>
                    {% else %}
                    <option value="{{ status.id }}">{{ status.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                    <select name="agent">
                            <option value="all">Все</option>
                            {% for agent in agents %}
                            {% if selected.agent == agent.id %}
                            <option value="{{ agent.id }}" selected>{{ agent }}</option>
                            {% else %}
                            <option value="{{ agent.id }}">{{ agent }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    <select name="channel">
                            <option value="all">Все</option>
                            {% for channel in channels %}
                            {% if selected.channel == channel.id %}
                            <option value="{{ channel.id }}" selected>{{ channel }}</option>
                            {% else %}
                            <option value="{{ channel.id }}">{{ channel }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    <input type="date" name="date_start" value="{{ date_start }}">
                    <input type="date" name="date_end" value="{{ date_end }}">
                    <button class="button">Фильтр</button>
            </form>
        </td>
    </tr>
</table>

<!--Вывод результатов-->
<table class="table_2">
    <tr>
        <th>Агент</th>
        <th>Тип полиса</th>
        <th>Полис</th>
        <th>Тип страхователя</th>
        <th>Страхователь</th>
        <th>КВ агента %</th>
        <th>КВ агента руб.</th>
        <th>Дата подписания</th>
        <th>Начало</th>
        <th>Окончание</th>
        <th>Общая премия</th>
        <th>Тип оплаты</th>
        <th>Статус полиса</th>
    </tr>
    {% for policy in policy %}
    <tr>
        <td>{{ policy.agent }}</td>
        <td>{{ policy.type }}</td>
        <td>{{ policy.policy }}</td>
        <td>{{ policy.type_client }}</td>
        <td>{{ policy.client }}</td>
        <td>{{ policy.agent_commission }}</td>
        <td>{{ policy.agent_commission_rub }}</td>
        <td>{{ policy.date_registration }}</td>
        <td>{{ policy.date_start }}</td>
        <td>{{ policy.date_end }}</td>
        <td>{{ policy.price }}</td>
        <td>{{ policy.type_pay }}</td>
        <td>{{ policy.status.name }}</td>
    </tr>
    {% endfor %}
</table>

<!--Пагинация-->
<br>---<br>
{% if page.has_previous %}
    <a href="{{ link }}page={{ page.previous_page_number }}" class="button">Назад</a>
{% endif %}

{% for p in paginator.page_range %}
{% if page.number|add:'-3' < p and page.number|add:'3' > p %}
    {% if p != page.number %}
        <a href="?page={{ p }}" class="button">{{ p }}</a>
    {% else %}
        <b class="button check">{{ p }}</b>
    {% endif %}
{% endif %}
{% endfor %}

{% if page.has_next %}
    <a href="{{ link }}page={{ page.next_page_number }}" class="button">Далее</a>
{% endif %}

<!--Скрипт для pop-up-->
<script>
    const openPopUp = document.querySelectorAll('.button');
    const closePopUp = document.querySelectorAll('.pop_up_close');
    const popUp = document.querySelectorAll('.pop_up');

    openPopUp.forEach((el) => {
        el.addEventListener("click", (e) => {
            let path = e.currentTarget.getAttribute('data-path');

            popUp.forEach((el) => {
                el.classList.remove('active');
            })

            document.getElementById(path).classList.add('active');
        });
    });

    closePopUp.forEach((el) => {
        el.addEventListener("click", (e) => {
            let path = e.currentTarget.getAttribute('data-close');
            document.getElementById(path).classList.remove('active');
        });
    });
</script>

<!--Скрипт для открытия второго этапа загрузки продаж-->
<script>
    if (document.getElementById("step_upload").value == 1) {
       document.getElementById("step_upload_pop_up").classList.add("active");
    }
</script>

<!--Скрипт для открытия ошибок загрузки-->
<script>
    if (document.getElementById("errors_unload").value == 1) {
       document.getElementById("errors_unload_pop_up").classList.add("active");
    }
</script>

{% endblock %}
{% block title %}
    InsFamily - Агентские продажи
{% endblock %}