{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/reporting.css' %}">
    <form class="reporting" method="get">
        {% csrf_token %}
        <table class="table_1">
            <tr>
                <th>Тип полиса:</th>
                <th>Канал продаж:</th>
                <th>Страховая компания:</th>
                <th>Менеджер:</th>
                <th>Оформлено с:</th>
                <th>Оформлено по:</th>
            </tr>
            <tr>
                <td>
                    <select name="Тип полиса" >
                        <option value="all">Все</option>
                        {% for type in types %}
                            {% if type.id == selected.type %}
                                <option value="{{ type.id }}" selected>{{ type }}</option>
                            {% else %}
                                <option value="{{ type.id }}">{{ type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="Канал продаж" >
                        <option value="all">Все</option>
                    {% for channel in channels %}
                        {% if selected.channel == channel.id %}
                        <option value="{{ channel.id }}" selected>{{ channel }}</option>
                        {% else %}
                        <option value="{{ channel.id }}">{{ channel }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="Страховая компания">
                        <option value="all">Все</option>
                    {% for company in companies %}
                        {% if selected.company == company.id %}
                        <option value="{{ company.id }}" selected>{{ company }}</option>
                        {% else %}
                        <option value="{{ company.id }}">{{ company }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="Менеджер">
                        <option value="all">Все</option>
                    {% for user in users %}
                        {% if selected.manager == user.id %}
                        <option value="{{ user.id }}" selected>{{ user }}</option>
                        {% else %}
                        <option value="{{ user.id }}">{{ user }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="date" value="{{ date_start }}" name="date_start">
                </td>
                <td>
                    <input type="date" value="{{ date_end }}" name="date_end">
                </td>
                <td>
                    <input class="btn btn-success" formaction="{% url 'accept' %}" type="submit" formmethod="get" value="Просмотр">
                </td>
                {% if user.admin == True or user.agent == True %}
                <td>
                    <input class="btn btn-success" formaction="{% url 'unload_accept' %}" type="submit" formmethod="get" value="Выгрузить">
                </td>
                {% endif %}
            </tr>

        </table>
    </form>
    <table class="table_2">
        <tr>
            <th>Тип продажи</th>
            <th>Тип полиса</th>
            <th>Серия и номер</th>
            <th>Компания</th>
            <th>Канал продаж</th>
            <th>Премия</th>
            <th>Комиссия</th>
            <th>Клиент</th>
            <th>Менеджер</th>
            <th>Оформлен</th>
            <th>Начало действия</th>
            <th>Окончание действия</th>
        </tr>
        {% for policy in result %}
        <tr>
            <td>
                {% if policy.status == 'newbiz' %}
                Новый бизнес
                {% elif policy.status == 'prolongation' %}
                Пролонгация
                {% elif policy.status == 'transition' %}
                Переход
                {% endif %}
            </td>
            <td>{{ policy.type }}</td>
            <td>{{ policy.series }} {{ policy.number }}</td>
            <td>{{ policy.company }}</td>
            <td>{{ policy.channel }}</td>
            <td>{{ policy.sp }}</td>
            <td>{{ policy.commission }}</td>
            <td>{{ policy.client }}</td>
            <td>{{ policy.user }}</td>
            <td>{{ policy.date_registration }}</td>
            <td>{{ policy.date_start }}</td>
            <td>{{ policy.date_end }}</td>
        </tr>
        {% endfor %}
    </table>

<br>---<br>

{% if page.has_previous %}
    <a href="{{ link }}page={{ page.previous_page_number }}">Назад</a>
{% endif %}

{% for p in paginator.page_range %}
    {% if p != page.number %}
        <a href="{{ link }}page={{ p }}">{{ p }}</a>
    {% else %}
        <b>{{ p }}</b>
    {% endif %}
{% endfor %}

{% if page.has_next %}
    <a href="{{ link }}page={{ page.next_page_number }}">Далее</a>
{% endif %}

{% endblock %}
{% block title %}
    InsFamily - Акцепт
{% endblock %}