{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/reporting.css' %}">
<form class="reporting" method="get">
        {% csrf_token %}
        <table class="table_1">
            <tr>
                <th>Тип полиса:</th>
                <th>Канал продаж:</th>
                <th>Страховая компания:</th>
                <th>Менеджер:</th>
                <th>Оформлено с:</th>
                <th>Оформлено до:</th>
            </tr>
            <tr>
                <td>
                    <select name="Тип полиса" >
                        <option value="all">Все</option>
                        {% for type in types %}
                            {% if type.id == selected.type %}
                                <option value="{{ type.id }}" selected>{{ type }}</option>
                            {% else %}
                                <option value="{{ type.id }}">{{ type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="Канал продаж" >
                        <option value="all">Все</option>
                    {% for channel in channels %}
                        {% if selected.channel == channel.id %}
                        <option value="{{ channel.id }}" selected>{{ channel }}</option>
                        {% else %}
                        <option value="{{ channel.id }}">{{ channel }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="Страховая компания">
                        <option value="all">Все</option>
                    {% for company in companies %}
                        {% if selected.company == company.id %}
                        <option value="{{ company.id }}" selected>{{ company }}</option>
                        {% else %}
                        <option value="{{ company.id }}">{{ company }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="Менеджер">
                        <option value="all">Все</option>
                    {% for user in users %}
                        {% if selected.manager == user.id %}
                        <option value="{{ user.id }}" selected>{{ user }}</option>
                        {% else %}
                        <option value="{{ user.id }}">{{ user }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="date" value="{{ date_start }}" name="date_start">
                </td>
                <td>
                    <input type="date" value="{{ date_end }}" name="date_end">
                </td>
                <td>
                    <input class="button" formaction="{% url 'accept' %}" type="submit" formmethod="get" value="Просмотр">
                </td>
                {% if user.admin == True or user.agent == True %}
                <td>
                    <input class="button" formaction="{% url 'unload_accept' %}" type="submit" formmethod="get" value="Выгрузить">
                </td>
                <td>
                    <div id="open_pop_up" class="button open_pop_up">
                        <a href="#">Создать АКТ</a>
                    </div>
                </td>
                {% endif %}
            </tr>
        </table>
    </form>
<form method="get">
    <input class="search" value="{{ selected.search }}" name="search" type="text">
    <button class="button">Поиск</button>
</form>
<table class="table_2">
        <tr>
            <th>Тип продажи</th>
            <th>Тип полиса</th>
            <th>Серия и номер</th>
            <th>Компания</th>
            <th>Канал продаж</th>
            <th>Премия</th>
            <th>Входящее КВ %</th>
            <th>Входящее КВ руб.</th>
            <th>Клиент</th>
            <th>Менеджер</th>
            <th>Оформлен</th>
            <th>Начало действия</th>
            <th colspan="2">Окончание действия</th>
        </tr>
        {% for policy in policy_list %}
        <tr>
            <td>
                {% if policy.status == 'newbiz' %}
                Новый бизнес
                {% elif policy.status == 'prolongation' %}
                Пролонгация
                {% elif policy.status == 'transition' %}
                Переход
                {% elif policy.status == 'addendum' %}
                Аддендум
                {% elif policy.status == 'payment' %}
                Очередной взнос
                {% endif %}
            </td>
            <td>{{ policy.type }}</td>
            <td>{{ policy.series }} {{ policy.number }}</td>
            <td>{{ policy.company }}</td>
            <td>{{ policy.channel }}</td>
            <td>{{ policy.sp }}</td>
            <td>{{ policy.commission }}%</td>
            <td>{{ policy.commission_rur }}р.</td>
            <td>{{ policy.client }}</td>
            <td>{{ policy.user }}</td>
            <td>{{ policy.date_registration }}</td>
            <td>{{ policy.date_start }}</td>
            <td>{{ policy.date_end }}</td>
            {% if user.admin %}
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input hidden type="text" name="policy_id_for_return" value="{{ policy.id }}">
                    <button class="for_delete button" type="submit">Вернуть в сверки</button>
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>

<div class="pagi">
<br>---<br>
{% if page.has_previous %}
    <a href="{{ link }}page={{ page.previous_page_number }}" class="button">Назад</a>
{% endif %}

{% for p in paginator.page_range %}
{% if page.number|add:'-3' < p and page.number|add:'3' > p %}
    {% if p != page.number %}
        <a href="{{ link }}page={{ p }}" class="button">{{ p }}</a>
    {% else %}
        <b class="button check">{{ p }}</b>
    {% endif %}
{% endif %}
{% endfor %}

{% if page.has_next %}
    <a href="{{ link }}page={{ page.next_page_number }}" class="button">Далее</a>
{% endif %}
</div>

<div id="pop_up" class="pop_up">
    <div class="pop_up_container">
        <div id="pop_up_close" class="pop_up_close">&#10006</div>
        <form method="post" class="form_block" action="/create_sale_report/">
            {% csrf_token %}
            <div class="name_report">Наименование</div>
            <input type="text" class="name_sale_report" name="name_sale_report">
            <div class="name_report">Начало периода</div>
            <input type="date" class="date_sale_report" name="date_start_for_report">
            <div class="name_report">Окончание периода (вкл.)</div>
            <input type="date" class="date_sale_report" name="date_end_for_report">
            <button class="button report">Закрыть АКТ</button>
        </form>
    </div>
</div>

<script>
    var openPopUp = document.getElementById('open_pop_up');
    var closePopUp = document.getElementById('pop_up_close');
    var popUp = document.getElementById('pop_up');

    openPopUp.addEventListener("click", (e) => {
        popUp.classList.add('active');
    })

    closePopUp.addEventListener("click", (e) => {
        popUp.classList.remove('active');
    })
</script>

{% endblock %}
{% block title %}
    InsFamily - Акцепт
{% endblock %}