{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/bso_agent.css' %}">

<form class="table_1" action="{% url 'bso_add' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Серия:</th>
            <th>Номер:</th>
            <th>Компания:</th>
            <th>Агент:</th>
        </tr>
        <tr>
            <td><input name="series" placeholder="серия"></td>
            <td><input name="number" placeholder="номер"></td>
            <td>
                <select name="company">
                    {% for company in company %}
                        <option value="{{ company.id }}">{{ company }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="agent">
                {% for agent in agents %}
                    <option value="{{ agent.id }}">{{ agent }}</option>
                {% endfor %}
            </select>
            </td>
        <td><input class="btn btn-success" type="submit" formmethod="post" value="Выдать"></td>
            <td>{{ text }}</td>
        </tr>
    </table>
</form>
<form class="repotring_agent">
    {% csrf_token %}
    <table>
        <td>
            <table class="table_3">
                <tr>
                    <th>Агент:</th>
                    <th>Компания:</th>
                    <th>Статус:</th>
                </tr>
                <tr>
                    <td>
                        <select name="agent">
                            <option value="all">Все</option>
                            {% for agent in agents %}
                                {% if agent.id == selected.agent %}
                                    <option value="{{ agent.id }}" selected>{{ agent }}</option>
                                {% else %}
                                    <option value="{{ agent.id }}">{{ agent }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="company">
                            <option value="all">Все</option>
                            {% for company in company %}
                                {% if company.id == selected.company %}
                                    <option value="{{ company.id }}" selected>{{ company }}</option>
                                {% else %}
                                    <option value="{{ company.id }}">{{ company }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <select name="status">
                            {% if selected.status == 'В работе' %}
                                <option value="all">Все</option>
                                <option value="В работе" selected>В работе</option>
                                <option value="Реализован">Реализован</option>
                                <option value="Испорчен">Испорчен</option>
                            {% elif selected.status == 'Реализован' %}
                                <option value="all">Все</option>
                                <option value="В работе">В работе</option>
                                <option value="Реализован" selected>Реализован</option>
                                <option value="Испорчен">Испорчен</option>
                            {% elif selected.status == 'Испорчен' %}
                                <option value="all">Все</option>
                                <option value="В работе">В работе</option>
                                <option value="Реализован">Реализован</option>
                                <option value="Испорчен" selected>Испорчен</option>
                            {% else %}
                                <option value="all">Все</option>
                                <option value="В работе">В работе</option>
                                <option value="Реализован">Реализован</option>
                                <option value="Испорчен">Испорчен</option>
                            {% endif %}
                        </select>
                    </td>
                    <td><input class="btn btn-success" formaction="{% url 'bso_agent' %}" type="submit" formmethod="get" value="Просмотр"></td>
                    <td><input class="btn btn-success" formaction="{% url 'bso_agent' %}" type="submit" formmethod="post" value="Выгрузить"></td>
                </tr>
            </table>
        </td>
    </table>
</form>
<table class="table_2">
    <tr>
        <th>БСО</th>
        <th>Компания</th>
        <th>Агент</th>
        <th>Дата изменения</th>
        <th>Статус</th>
        <th>Удалить БСО</th>
    </tr>
        {% for bso in bso %}
    <tr>
        <form>
            {% csrf_token %}
            <td>{{ bso }}</td>
            <td>{{ bso.company }}</td>
            <td>{{ bso.user }}</td>
            <td>{{ bso.date_at }}</td>
            <td>
                <input type="hidden" name="id" value="{{ bso.id }}">
                <select class="col2" name="status_up">
                    {% if bso.status == "В работе" %}
                        <option value="В работе" selected>В работе</option>
                        <option value="Реализован">Реализован</option>
                        <option value="Испорчен">Испорчен</option>
                    {% elif bso.status == "Реализован" %}
                        <option value="В работе">В работе</option>
                        <option value="Реализован" selected>Реализован</option>
                        <option value="Испорчен">Испорчен</option>
                    {% elif bso.status == "Испорчен" %}
                        <option value="В работе">В работе</option>
                        <option value="Реализован">Реализован</option>
                        <option value="Испорчен" selected>Испорчен</option>
                    {% endif %}
                </select>
                <input class="col1" formaction="{% url 'bso_agent' %}" type="submit" formmethod="post" value="Сохранить">
            </td>
            <td>
                <input class="col1" formaction="{% url 'bso_delete' %}" type="submit" formmethod="post" value="Удалить">
            </td>
        </form>
    </tr>
        {% endfor %}
    </tr>
</table>
{% endblock %}
{% block title %}
    InsFamily - Выдача БСО
{% endblock %}
