<form class="table_1" action="{% url 'bso_add' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Серия:</th>
            <th>Номер:</th>
            <th>Компания:</th>
            <th>Агент:</th>
        </tr>
        <tr>
            <td><input name="series" placeholder="серия"></td>
        <td><input name="number" placeholder="номер"></td>
            <td>
            <select name="company">
                {% for company in company %}
                    <option value="{{ company.id }}">{{ company }}</option>
                {% endfor %}
            </select>
            </td>
            <td>
                <select name="agent">
                {% for agent in agents %}
                    <option value="{{ agent.id }}">{{ agent }}</option>
                {% endfor %}
            </select>
            </td>
        <td><input type="submit" formmethod="post" value="Выдать"></td>
            <td>{{ text }}</td>
        </tr>
    </table>
</form>

