{% extends 'main/base.html' %}
{% load static %}
{% block content %}

{% if text_upload == '' %}
<span style="color:red; position: relative; font-size: 15px; font-weight: bold;">{{ error }}</span>
{% endif %}
<link rel="stylesheet" href="{% static 'main/css/osago.css' %}">
<div class="pop_up" id="1">
        <div class="pop_up_container">
            <div class="pop_up_close" data-close="1" id="pop_up_close">&#10006</div>
            <form class="upload" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input hidden type="text" name="upload" value="upload">
                    <table class="upload">
                    <tr>
                        <td>
                            <input type="file" class="file" name="file" id="id_file">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="button save" type="submit" value="Сохранить">
                        </td>
                    </tr>
                    </table>
                    </form>
    </div>
</div>
<form name="policy" class="add-policy" method="post">
    {% csrf_token %}
    <table class="table_1">
        <tr>
            <td>
                <table class="table_2">
                    <caption><h5>Полис</h5></caption>
                    <tr><td><b>Тип продажи</b></td>
                        <td>
                            <select name="Тип продажи">
                                <option value="newbiz">Новый бизнес</option>
                                <option value="prolongation">Пролонгация</option>
                                <option value="transition">Переход</option>
                                <option value="addendum">Аддендум</option>
                                <option value="payment">Очередной взнос</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><b>Оплата</b></td>
                        <td>
                            <select id="Оплата" name="Оплата">
                                <option value="non_cash">Безнал</option>
                                <option value="cash">Наличные</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><b>Тип полиса</b></td>
                        <td>
                            <select name="Тип_полиса">
                                {% for type in types %}
                                    <option value="{{ type.id }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr id="bank" hidden><td><b>Банк</b></td>
                        <td>
                            <select name="bank">
                                {% for bank in banks %}
                                    <option value="{{ bank }}">{{ bank }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr id="credit" hidden><td><b>ТС в кредите</b></td>
                        <td>
                            <select name="credit">
                                <option value="no_credit">Нет</option>
                                <option value="credit">Да</option>
                            </select>
                        </td>
                    </tr>
                    <tr><td><b>Серия полиса</b></td><td><input value="ХХХ" id="series" name="series" placeholder="серия"></td></tr>
                    <tr><td><b>Номер полиса</b></td><td><input id="number" name="number" placeholder="номер" required></td></tr>
                    <tr><td><b>Страховая премия</b></td><td><input name="sp" type="number" step="0.01" placeholder="1234.05" required></td></tr>
                    <tr><td><b>Страховая компания</b></td>
                        <td>
                            <select name="Страховая_компания">
                                {% for company in companys %}
                                    <option value="{{ company.id }}">{{ company }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr><td><b>Канал продаж</b></td>
                        <td>
                            <select name="Канал_продаж">
                                {% for channel in channels %}
                                    <option id="channel" value="{{ channel.id }}">{{ channel }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr><td><b id="com" hidden>КВ в %</b></td><td><input type="number" step="0.01" value="0" hidden id="commission" name="commission" placeholder="КВ %" required></td></tr>
                    <tr><td><b>Дата оформления</b></td><td><input id="date_at" type="date" name="date_registration" required></td></tr>
                    <tr><td><b>Дата начала действия</b></td><td><input id="date_start" type="date" name="date_start" required></td></tr>
                    <tr><td><b>Дата окончания действия</b></td><td><input id="date_end" type="date" name="date_end" required></td></tr>
                </table>
            </td>
            <td>
                <table class="table_2">
                    <caption><h5>Клиент</h5></caption>
                    <tr><td><b>ФИО</b></td><td><input name="full_name" placeholder="ФИО" required></td></tr>
                    <tr><td><b>Дата рождения</b></td><td><input type="date" name="birthday" required></td></tr>
                    {% if user.agent == False %}
                        <tr><tr><td><b>Телефон</b></td><td><input name="phone" pattern="[0-9]{10}" value="9111111111"></td></tr>
                        <tr><td><b>Почта</b></td><td><input type="email" name="email" value="1@mail.ru"></td></tr>
                    {% endif %}
                </table>
            </td>
        </tr>
        <tr>
            <td><button class="button sale" type="submit">Внести продажу</button></td>
        </tr>
        <tr><td>
            <span style="color:green; position: relative; font-size: 15px; font-weight: bold;">{{ text }}</span>
            </td>
        </tr>
        <tr>
            <td>
                {% if user.admin %}
                <div class="button open" data-path="1">
                    <a href="#" class="open_pop_up">Загрузить продажи</a>
                </div>
                {{ text_upload }}
                {% endif %}
            </td>
        </tr>
    </table>
</form>

<script>
    var date = new Date();
    year = date.getFullYear() + '';
    month = date.getMonth() + 1;
    if (month < 10){
        month = '0' + month;
    }
    day = date.getDate();
    if (day < 10){
        day = '0' + day;
    }
    document.getElementById("date_at").value = year + "-" + month + "-" + day;
    document.getElementById("date_start").oninput = function() {
        dateStart = new Date(Date.parse(document.getElementById("date_start").value));
        dateEnd = new Date(dateStart.setYear(dateStart.getFullYear() + 1));
        dateEnd.setDate(dateEnd.getDate() - 1);
        yearEnd = dateEnd.getFullYear() + '';
        monthEnd = dateEnd.getMonth() + 1;
        if (monthEnd < 10){
            monthEnd = '0' + monthEnd;
        }
        dayEnd = dateEnd.getDate();
        if (dayEnd < 10){
        dayEnd = '0' + dayEnd;
    }
    document.getElementById("date_end").value = yearEnd + "-" + monthEnd + "-" + dayEnd;
    }
</script>
<script>
    var lan = policy.Канал_продаж;
    var bank = policy.Тип_полиса;
    var credit = policy.Тип_полиса;
    var typePay = policy.Оплата;

    function changeOption(){
        var selectedOption = lan.options[lan.selectedIndex];
        if (selectedOption.text == 'Пампаду' || selectedOption.text == 'ООО "НЭП"' || selectedOption.text.indexOf('регион') != -1) {
        document.getElementById("commission").hidden = false;
        document.getElementById("com").hidden = false;
        } else {
        document.getElementById("commission").hidden=true;
        document.getElementById("com").hidden = true;
        }
    }

    function changeBank(){
        var selectedType = bank.options[bank.selectedIndex];
        if (selectedType.text == 'Ипотечный') {
        document.getElementById("bank").hidden = false;
        } else {
        document.getElementById("bank").hidden=true;
        }
    }

    function changeCredit(){
        var selectedType = credit.options[credit.selectedIndex];
        var selectedTypePay = typePay.options[typePay.selectedIndex];
        if (selectedType.text == 'КАСКО') {
        document.getElementById("credit").hidden = false;
        } else {
        document.getElementById("credit").hidden = true;
        }

        if (selectedType.text == 'Ипотечный') {
        document.getElementById("commission").hidden = false;
        document.getElementById("com").hidden = false;
        } else {
        document.getElementById("commission").hidden=true;
        document.getElementById("com").hidden = true;
        }
    }

    lan.addEventListener("change", changeOption);
    bank.addEventListener("change", changeBank);
    bank.addEventListener("change", changeCredit);
    typePay.addEventListener("change", changeCredit);

</script>
<script>
    const openPopUp = document.querySelectorAll('.button');
    const closePopUp = document.querySelectorAll('.pop_up_close');
    const popUp = document.querySelectorAll('.pop_up');

    openPopUp.forEach((el) => {
        el.addEventListener("click", (e) => {
            let path = e.currentTarget.getAttribute('data-path');

            popUp.forEach((el) => {
                el.classList.remove('active');
            })

            document.getElementById(path).classList.add('active');
        });
    });

    closePopUp.forEach((el) => {
        el.addEventListener("click", (e) => {
            let path = e.currentTarget.getAttribute('data-close');
            document.getElementById(path).classList.remove('active');
        });
    });
</script>

{% endblock %}
{% block title %}
    InsFamily - Добавить полис
{% endblock %}