<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <table>
        <tr><td>Серия</td><td><input name="series" value="{{ policy.series }}"></td></tr>
        <tr><td>Номер</td><td><input name="number" value="{{ policy.number }}"></td></tr>
        <tr>
            <td>Компания</td>
            <td>
                <select name="company">
                    {% for company in company %}
                        {% if company == policy.company %}
                            <option value="{{ company.id }}" selected>{{ company }}</option>
                        {% else %}
                            <option value="{{ company.id }}">{{ company }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Канал продаж</td>
            <td>
                <select name="channel">
                    {% for channel in channel %}
                        {% if channel == policy.channel %}
                            <option value="{{ channel.id }}" selected>{{ channel }}</option>
                        {% else %}
                            <option value="{{ channel.id }}">{{ channel }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr><td>СП</td><td><input name="sp" value="{{ policy.sp }}"></td></tr>
        <tr><td>Дата начала</td><td><input type="date" name="date_start" value="{{ date_start }}"></td></tr>
        <tr><td>Дата окончания</td><td><input type="date" name="date_end" value="{{ date_end }}"></td></tr>
        <tr><td>
            <input hidden name="id" value="{{ policy.id }}">
            <button type="submit">Сохранить</button>
        </td>
            <td>{{ text }}</td>
        </tr>
    </table>
</form>

</body>
</html>