{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'main/css/search_policy.css' %}">

<div class="cont">
    <div>
        <form method="post">
            {% csrf_token %}
            <div class="col">
                <select name="target">
                    {% if selected.target == 'number' %}
                    <option value="number" selected>Номер</option>
                    <option value="series">Серия</option>
                    <option value="last_name">Фамилия</option>
                    <option value="first_name">Имя</option>
                    <option value="middle_name">Отчество</option>
                    {% elif selected.target == 'series' %}
                    <option value="number">Номер</option>
                    <option value="series" selected>Серия</option>
                    <option value="last_name">Фамилия</option>
                    <option value="first_name">Имя</option>
                    <option value="middle_name">Отчество</option>
                    {% elif selected.target == 'last_name' %}
                    <option value="number">Номер</option>
                    <option value="series">Серия</option>
                    <option value="last_name" selected>Фамилия</option>
                    <option value="first_name">Имя</option>
                    <option value="middle_name">Отчество</option>
                    {% elif selected.target == 'first_name' %}
                    <option value="number">Номер</option>
                    <option value="series">Серия</option>
                    <option value="last_name">Фамилия</option>
                    <option value="first_name" selected>Имя</option>
                    <option value="middle_name">Отчество</option>
                    {% elif selected.target == 'middle_name' %}
                    <option value="number">Номер</option>
                    <option value="series">Серия</option>
                    <option value="last_name">Фамилия</option>
                    <option value="first_name">Имя</option>
                    <option value="middle_name" selected>Отчество</option>
                    {% else %}
                    <option value="number">Номер</option>
                    <option value="series">Серия</option>
                    <option value="last_name">Фамилия</option>
                    <option value="first_name">Имя</option>
                    <option value="middle_name">Отчество</option>
                    {% endif %}
                </select>
            </div>
            <div class="col1">содержит: </div>
            <div class="col"><input value="{{ selected.value }}" name="value" type="text"></div>
            <div class="col2">
                <button type="submit">Поиск</button>
            </div>
            <div class="col2">
                {{ text }}
            </div>
        </form>
    </div>
    <div>
        <table class="table_2">
        <tr>
            <th>Дата оформления</th>
            <th>Тип полиса</th>
            <th>Серия и номер полиса</th>
            <th>Страховая компания</th>
            <th>Канал продаж</th>
            <th>Страховая премия</th>
            <th>КВ</th>
            <th>Клиент</th>
            <th>Менеджер</th>
            <th>Дата начала действия</th>
            <th colspan="2">Дата окончания действия</th>
        </tr>
        {% for policy in result %}
        <tr>
            <td>{{ policy.date_registration }}</td>
            <td>{{ policy.type }}</td>
            <td>{{ policy.series }} {{ policy.number }}</td>
            <td>{{ policy.company }}</td>
            <td>{{ policy.channel }}</td>
            <td>{{ policy.sp }}</td>
            <td>{{ policy.commission }}</td>
            <td>{{ policy.client }}</td>
            <td>{{ policy.user }}</td>
            <td>{{ policy.date_start }}</td>
            <td>{{ policy.date_end }}</td>
            {% if policy.accept == True %}
            <td>Проведён</td>
            {% else %}
            <td><a target="_blank" href="../policy_edit/?id={{ policy.id }}">Редактировать</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    </div>
</div>


{% endblock %}
{% block title %}
    InsFamily - Редактирование
{% endblock %}