.table_2 th {
    font-weight: normal;
    border-bottom: 2px solid #6678b1;
    border-top: 2px solid #6678b1;
    border-left: 1px solid #B0C4DE;
    border-right: 1px solid #B0C4DE;
    padding: 3px 3px;
}

.table_2 td {
    width: calc(50px + (150 - 50) * ((100vw - 320px) / (1900 - 320)));
}

.table_2 tr:hover td {
  background: #E6E6FA;
}

.table_2 tr:nth-child(2n) {
  background: #FFEBCD;
}

.table_2 {
    margin-left: 50px;
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1900 - 320)));
    text-align: center;
    width: calc(20% + (80% - 20%) * ((100vw - 320px) / (1900 - 320)));
    margin-top: -15px;
}

.table_1 td {
    width: calc(50px + (200 - 50) * ((100vw - 320px) / (1900 - 320)));
}

.table_1 select {
    width: calc(50px + (250 - 50) * ((100vw - 320px) / (1900 - 320)));
}

.table_1 input {
    width: calc(50px + (250 - 50) * ((100vw - 320px) / (1900 - 320)));
}

.table_1 {
    margin-top: 20px;
}

.btn-success {
    margin-left: 10px;
    margin-top: 25px;
    width: calc(80px + (120 - 80) * ((100vw - 320px) / (1900 - 320)));
    height: calc(20px + (40 - 20) * ((100vw - 320px) / (1900 - 320)));
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1900 - 320)));
}

.table_3 td {
    width: calc(50px + (200 - 50) * ((100vw - 320px) / (1900 - 320)));
}

.table_3 select {
    width: calc(50px + (250 - 50) * ((100vw - 320px) / (1900 - 320)));
}

.table_3 {
    margin-top: 50px;
}
