.table_1 {
    font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1900 - 320)));
    text-align: center;
    width: calc(20% + (80% - 20%) * ((100vw - 320px) / (1900 - 320)));
}

.table_1 th {
    font-weight: normal;
    padding: 3px 3px;
}
.table_2 {
    margin-top: 15px;
    font-size: calc(7px + (12 - 7) * ((100vw - 320px) / (1900 - 320)));
    text-align: center;
    width: calc(20% + (60% - 20%) * ((100vw - 320px) / (1900 - 320)));
}

.table_2 th {
    font-weight: normal;
    border-bottom: 2px solid #6678b1;
    border-top: 2px solid #6678b1;
    border-left: 1px solid #B0C4DE;
    border-right: 1px solid #B0C4DE;
    padding: 3px 3px;
}

.table_2 tr:hover td {
    background: #E6E6FA;
}

.table_2 tr:nth-child(2n) {
    background: #FFEBCD;
}

.table_2 td {
    border-top: 1px solid #e8edff;
    border-left: 1px solid #B0C4DE;
    border-right: 1px solid #B0C4DE;
    padding: 5px;
}

.btn-success {
    margin-left: 10px;
    width: calc(80px + (150 - 80) * ((100vw - 320px) / (1900 - 320)));
    height: calc(20px + (40 - 20) * ((100vw - 320px) / (1900 - 320)));
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1900 - 320)));
}

input, select {
    width: calc(50px + (150 - 50) * ((100vw - 320px) / (1900 - 320)));
    height: calc(5px + (30 - 5) * ((100vw - 320px) / (1900 - 320)));
}

.button {
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    color: #000;
  }
.button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #000;
   }

.check {
background: #808080;
}


a {
    text-decoration: none;
    color: #000;
}

.search {
    width: 10%;
}

.pagi {
    margin-bottom: 1%;
    margin-left: 16%;
    clear: left;
}

.pop_up {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.7);
    display: none;
    z-index: 2;
}

.pop_up.active {
    display: block;
}

.pop_up_container {
    border-radius: 15px;
    padding: 15px;
    width: 30%;
    height: 30%;
    background-color: #FFFFFF;
    margin-left: 25%;
    margin-top: 12.5%;
}

.pop_up_close {
    cursor: pointer;
    float: right;
}

.name_report {
    float: left;
    width: 50%;
    height: 15%;
}

.name_sale_report {
    float: right;
    width: 50%;
    height: 15%;
}

.date_sale_report {
    float: left;
    width: 35%;
    height: 15%;
}

.form_block {
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    height: 90%;
}

.report {
    float: right;
    margin-top: 10%;
    padding: 5px 15px;
}

.open_pop_up {
    float: left;
}
