.table_1 {
    font-size: calc(8px + (16 - 8) * ((100vw - 320px) / (1900 - 320)));
    text-align: center;
    width: calc(20% + (80% - 20%) * ((100vw - 320px) / (1900 - 320)));
}

.table_1 th {
    font-weight: normal;
    padding: 3px 3px;
}
.table_2 {
    margin-top: 15px;
    font-size: calc(7px + (12 - 7) * ((100vw - 320px) / (1900 - 320)));
    text-align: center;
    width: calc(20% + (60% - 20%) * ((100vw - 320px) / (1900 - 320)));
}

.table_2 th {
    font-weight: normal;
    border-bottom: 2px solid #6678b1;
    border-top: 2px solid #6678b1;
    border-left: 1px solid #B0C4DE;
    border-right: 1px solid #B0C4DE;
    padding: 3px 3px;
}

.table_2 tr:hover td {
    background: #E6E6FA;
}

.table_2 tr:nth-child(2n) {
    background: #FFEBCD;
}

.table_2 td {
    border-top: 1px solid #e8edff;
    border-left: 1px solid #B0C4DE;
    border-right: 1px solid #B0C4DE;
    padding: 5px;
}

.btn-success {
    margin-left: 10px;
    width: calc(80px + (150 - 80) * ((100vw - 320px) / (1900 - 320)));
    height: calc(20px + (40 - 20) * ((100vw - 320px) / (1900 - 320)));
    font-size: calc(8px + (14 - 8) * ((100vw - 320px) / (1900 - 320)));
}

input, select {
    width: calc(50px + (150 - 50) * ((100vw - 320px) / (1900 - 320)));
    height: calc(5px + (30 - 5) * ((100vw - 320px) / (1900 - 320)));
}

.pop_up {
    display: none;
    z-index: 2;
}

.pop_up.active {
    display: block;
}

.pop_up_container {
    display: flex;
    position: relative;
}

.pop_up_body input:focus {
    outline: none;
}

.button {
    border: 1px solid #333; /* Рамка */
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px; /* Поля */
    color: #000; /* Цвет текста */
  }
.button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
    color: #000; /* Цвет текста */
   }

  .check {
    background: #808080;
  }


a {
    text-decoration: none;
        color: #000; /* Цвет текста */
}

