.table_1 {
    font-size: 12px;
    text-align: center;
    width: 80%;
}

.table_1 td {
    vertical-align: top;
}

.table_2, .table_2_2 {
    width: 70%;
    margin-top: 1%;
}

.table_2_2 {
    margin-top: 2%;
    width: 40%;
}

.table_2 th, .table_2_2 th {
  font-weight: normal;
  border-bottom: 2px solid #6678b1;
  border-top: 2px solid #6678b1;
  border-left: 1px solid #B0C4DE;
  border-right: 1px solid #B0C4DE;
  padding: 3px 3px;
}

.table_2 tr:hover td, .table_2_2 tr:hover {
  background: #E6E6FA;
}

.table_2 tr:nth-child(2n), .table_2_2 tr:nth-child(2n) {
  background: #FFEBCD;
}

.table_2 td, .table_2_2 td {
    width: calc(50px + (150 - 50) * ((100vw - 320px) / (1900 - 320)));
}

.type {
    text-align: left;
}

.all_sp {
    border-top: 1px double black;
}

.top_menu {
    padding: 5px;
    width: 80%;
    float: left;
}

.month_ {
    float: left;
    margin-right: 10px;
}

.button {
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    color: #000;
}

.button:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    color: #000;
}
